html {
    height: 100%;
    background-color: #ffbeaf;
}

* {
    font-family: Open Sans;
}

body {
    display: flex;
    min-height: 100%;
    margin: 0px 0px 0px 0px;
    height: 100%;
}

#nav-outer {
    width: 10%;
    height: inherit;
    width: 250px;
    background-color: #9ba1e6;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}

#nav-inner {
    height: 97%;
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    width: 90%;
}

#pfp {
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

h1 {
    /* margin: auto; */
    font-size: 160%;
    color: #004d7b;
}

.tagline {
    color: #004d7b;
    text-align: center;
    margin-top: 0px;
    /* text-align: justify; */

}

@media screen and (max-width: 800px) {
    #nav-outer-mini {
        background-color: #9ba1e6;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #mini-icons > a {
        color: black;
    }
    #nav-inner-mini {
        width: 95%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #mini-icons {
        width: 100px;
        display: flex;
        justify-content: space-between;
    }
    body {
        flex-direction: column;
    }
    #nav-inner {
        display: none;
    }
    #nav-outer {
        display: none;
    }
    #main {
        width: 100%;
        /* background-color: #ffbeaf; */
    }
  }

@media screen and (min-width: 801px) {
    #nav-inner-mini {
        display: none;
        /* background-color: #9ba1e6; */

    }
    #nav-outer-mini {
        display: none;
    }
    #main {
        width: 100%;
        /* background-color: #ffbeaf; */
}
}
